<html>
    <head>
        {% include "map.html.twig" %}
    </head>

    <body>
        <div id="login">
        {% include "login.html.twig" %}
        </div>



        <div id="map-canvas"/>



    </body>
</html>