{% if user.logged %}
    Bienvenue {{ user.users_pseudo }} !<br/>
    <a href="logout.php">logout</a>

{% else %}
    <form method="POST" action="login.php">
        <p>email : <input name='email' type="text" /></p>
        <p>password : <input name="password" type="password" /></p>
        <INPUT TYPE="submit" VALUE="login" />
    </form>

{% endif %}
